* {
    padding: 0;
    margin: 0;
   font-family: 'inter';
   font-weight: 900;
  }
  body{
    background: linear-gradient(to bottom left,rgb(30, 38, 152), rgb(24, 142, 185));
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    animation: gradientAnimation 0.3s  alternate;
    z-index: 10;
  }
  @keyframes gradientAnimation {
    0% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
  .btn.btn-primary.btn-block.pbutton{
    cursor: auto;
  }
  
  .roza {
    line-height: 54px;
box-shadow: 0px 4px 15px #000000e2;}
  .pbutton {
  
    border: none !important;
  }
  .nav-link p{
    transition: color 0.5s ease-in-out,  text-shadow 0.5s ease-in-out;
    margin-bottom: -2px;
  }
  .nav-item.n3{
    margin-left: 1120px;
    background-color: rgb(72, 0, 0);
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 0 5px 5px rgb(72, 0, 0); 
    }
    .nav-item.n2,.nav-item.n1{
    margin-left: 10px;
    margin-right: 10px;
      background-color: rgb(0, 5, 72);
      text-align: center;
      border-radius: 40px;
      box-shadow: 0 0 5px 5px rgb(0, 5, 72); 
      }
      #Odjava p{
        cursor: pointer;
      color: white;
        transition: color 0.5s ease-in-out,  text-shadow 0.5s ease-in-out;
      
      }
      #Odjava p:hover{
        color:#e22626;
        text-shadow: 0px 2px 2px #00000090;
      }
      .nav-link p:hover{
        color:#26a6e2;
        text-shadow: 0px 2px 2px #00000090;}
  .pbutton:focus,
  .pbutton:active,
  .pbutton:hover {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .btn.btn-primary.btn-block.pbutton, .col-md-4{
    background-color:transparent !important ;

  }

  .navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
  
  }
  .navbar-collapse {
    
    z-index: 999;
  }
  .navbar {

    z-index: 9999;
  }
  img{
    padding-right: 30px;
    padding-left: 10px;
  }

  .navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-custom {
    background-color: rgb(6, 7, 28) !important;  
    height: 70px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  }
.roza {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 794.4px;
  height: 491.2px;
  align-items: center;
  background: linear-gradient(to bottom left,rgb(6, 7, 28), rgb(7, 48, 63));
  border-radius: 50px;
  margin-top: 100px; 

}


.roza {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;

  border-radius: 50px;
  margin-top: -25px !important; 
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y:hidden; 
  overflow-x:hidden; 
}
  .bigwhite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%; 
    margin: 0 auto;
    color: white;
    gap: 250px;
    padding-top: 30px;
  }
  
  .bigwhite p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    transition: color 0.5s ease-in-out,  text-shadow 0.5s ease-in-out;
    line-height: 54px;
    text-shadow: 0px 4px 15px #000000;
  }
  
  
  
  
  

 
 .grid-item {
  margin: 20px;

    padding: 15px;
    background: #000000;
border-radius: 50px;
width: 320px;
height: 220px;
color: white;
 }
 .grid-item-h1{
padding-left: 15px;
  padding-bottom: 15px;
 }
 .grid-item-p{
  padding-left: 15px;

   }
   .picture-top-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  .additional-info {
    text-align: center !important;
    margin-left: 15%;
  }
 .info-TEXT {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 39px;
    color: #ffffff;
    padding-bottom: 0.8cm;
    text-shadow: 0px 2px 10px #000000b2;
  }
  .ROZO{
    color: #3f1bc2;
    padding-left: 0.9cm;
  }
.square-container {
  width: 180px;
  height: 180px;
  border: 5px solid #481bc26d;
  filter: drop-shadow(0px 4px 50px #1b1ec2) !important;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.square-container .image {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-left: 22.5px;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #000;
}


::-webkit-scrollbar-thumb {
  background-color: #1b8ac2;
}


::-webkit-scrollbar-track {
  background-color: #000;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.AnimacijaZaSliku{
  height: 80px;  
  animation: fadeIn 1.5s ease-in-out;
margin-bottom: -20px;}


@keyframes rotateScaleFadeIn {
  0% {
    opacity: 0;
    transform: rotateY(90deg) scale(0.5);
  }
  70% {
    opacity: 1;
    transform: rotateY(-10deg) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
}
.roza {

left:  25% !important;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 0.5s ease-out forwards;
  position: relative;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 768px) {

  .content-container {
    transform: scale(0.5) !important;
    transform-origin: 0 0;
  }
  .roza{
   margin-top: 650px;
    width: 900px;
    margin-left: 50%;
    height: 1000px;

  }
  .square-container{
    width: 250px !important;
    height: 250px !important;
    margin-left: 10%;
    margin-bottom: 185px;
    margin-top: -20%;
  }
  .additional-info{
    margin-left: 10%;
    margin-top: -10%;
  }
  .info-TEXT{
    font-size: 45px;
  }
  .jatxt{
    font-size: 45px !important;

  }
  .btn.btn-primary.btn-block.pbutton{
    margin-top: 5%;
    margin-bottom: -15%;
  
  }
}

@media (min-width: 768px) and (max-width: 968px) {

  .content-container {
    transform: scale(0.5) !important;
    transform-origin: 0 0;
  }
  .roza{
   margin-top: 650px;
    width: 900px;
    margin-left: 50%;
    height: 1000px;

  }
  .square-container{
    width: 250px !important;
    height: 250px !important;
    margin-left: 10%;
    margin-bottom: 185px;
    margin-top: -20%;
  }
  .additional-info{
    margin-left: 10%;
    margin-top: -10%;
  }
  .info-TEXT{
    font-size: 45px;
  }
  .jatxt{
    font-size: 45px !important;

  }
  .btn.btn-primary.btn-block.pbutton{
    margin-top: 5%;
    margin-bottom: -15%;
  }
}

@media (min-width: 968px) and (max-width: 1068px) {

  .content-container {
    transform: scale(0.5) !important;
    transform-origin: 0 0;
  }
  .roza{
   margin-top: 650px;
    width: 1200px;
    margin-left: 50%;
    height: 1100px;

  }
  .square-container{
    width: 150px !important;
    height: 150px !important;
    transform: scale(1.5) !important;
    margin-left: 10%;
    margin-bottom: 185px;
    margin-top: -20%;
  }
  .additional-info{
    margin-left: 10%;
    margin-top: -10%;
  }
  .info-TEXT{
    font-size: 50px;
  }
  .jatxt{
    font-size: 50px !important;

  }
  .btn.btn-primary.btn-block.pbutton{
    margin-top: 5%;
    margin-bottom: -15%;
  }
}

@media (min-width: 1068px) and (max-width: 1268px) {

  .content-container {
    transform: scale(0.5) !important;
    transform-origin: 0 0;
  }
  .roza{
   margin-top: 650px;
    width: 1700px;
    margin-left: 50%;
    height: 1100px;

  }
  .square-container{
    width: 200px !important;   
     height: 200px !important;
    transform: scale(1.4) !important;
    margin-left: -10%;
    margin-bottom: 185px;
    margin-top: -20%;
  }
  .additional-info{
    margin-left: -25%;
    margin-top: 15%;
  }
  .info-TEXT{
    font-size: 55px;
  }
  .jatxt{
    font-size: 55px !important;

  }
  .btn.btn-primary.btn-block.pbutton{
    margin-top: 5%;
    margin-bottom: -15%;
  }
}

